<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Googler: Trinity Cyber Forum</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="login.css">
</head>

<style>
    .container {
        width: 50%;
    }
</style>

<body>
    <img id="logo" src="trinity.png" height="60px" alt="" srcset="">
    <div class="container">
        <div class="text-center" style="font-size: 40px;">
            <img src="trinity.png" height="100px" alt="">
            <br>
            Team name:
            <span class="text-accent">
                <%= team.teamName %>
            </span>
            <br>
            Score: <%= team.score %>
        </div>
        <% if (messages.error) { %>
            <div class="errorMessage">
                <%= messages.error %>
            </div>
            <% } %>
                <% if (messages.success) { %>
                    <div class="successMessage">
                        <%= messages.success %>
                    </div>
                    <% } %>
                        <br><br>
                        <div class="question text-white">
                            Ques <%= question.questionNumber %> . <%= question.question %>
                        </div>
                        <form method="POST" action="/checkAnswer">
                            <label>Answer</label><br>
                            <input type="text" name="answer"><br>
                            <button>Submit</button>
                        </form>
    </div>
    <div id="particles-js"></div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="particles.js"></script>

</body>

</html>